body,
html {
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(18 15 29);
    font-family: 'Open Sans';
    --tw-text-opacity: 1;
    color: rgb(122 117 143);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .url {
    visibility: hidden;
    display: block;
    background-color: rgb(33 29 48);
    color: rgb(132, 123, 168);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    margin-top: 3rem;
    margin: 3rem 1rem 0 1rem;
}

body.loaded .url {
    visibility: visible;
}

.url a, .url a:visited, .url a:active {
    color: rgb(228, 142, 243);
    text-decoration: none;
}

.url a:hover {
    text-decoration: underline;
}

.loader {
    color: rgb(132, 123, 168);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.spinner {
    font-size: 30px;
    width: 1em;
    height: 1em;
    border: 0.15em solid var(--color, white);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinner-rotation 800ms linear infinite;
}

@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}